[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Aa]ssets/**/*.cs.meta
*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
*.suo
*.user
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pyc
.vs/
